@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@1,300&display=swap');

* {
    background-color: #F25CA2;
    font-family: 'Roboto', sans-serif;
}

.menu {
    display: inline-block;
    
}

.portrait {
    width: 20%;
    height: 10%;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

h1 {
    background-color: #F24484;
    color: #6BCCF2;
    font-family: 'Caprasimo', cursive;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}


h2 {
    background-color: #D9043D;
    color: #ffffff;
    font-size: 32px;
    font-style: italic;
    text-indent: 40px;
    text-transform: uppercase;
    width: 25%;
}

p {
    font-size: 18px;
}

.assign {
    color: #ffffff;
    text-align: center;
}
